[submodule "pack/usr/start/delimitMate"]
	path = pack/usr/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	branch = master
[submodule "pack/usr/start/vim-wintabs"]
	path = pack/usr/start/vim-wintabs
	url = https://github.com/zefei/vim-wintabs.git
	branch = master
[submodule "pack/usr/start/Zenburn"]
	path = pack/usr/start/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
	branch = master
[submodule "pack/usr/start/indentLine"]
	path = pack/usr/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
	branch = master
[submodule "pack/usr/start/vimproc.vim"]
	path = pack/usr/start/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
	branch = master
[submodule "pack/usr/start/vim-vebugger"]
	path = pack/usr/start/vim-vebugger
	url = https://github.com/idanarye/vim-vebugger.git
	branch = master
[submodule "pack/usr/start/rust.vim"]
	path = pack/usr/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
	branch = master
